<body>
    <form action="/scoreboard" method="post">
        Car: <input type="text" name="Car">
        RFID: <input type="text" name="RFID">
        <input type="submit" id="submit">
    </form>
    <th><h1>Scoreboard</h1></th>
    <table border = 1>
        <tr>
            <th><h2>Car</h2></th>
            <th><h3>{{Now_Data["CarA"]}}</h3></th>
            <th><h2>Score</h2></th>
            <th><h3>{{Now_Data["ScoreA"]}}</h3></th>
        </tr>
        <tr>
            <th><h2>Car</h2></th>
            <th><h3>{{Now_Data["CarB"]}}</h3></th>
            <th><h2>Score</h2></th>
            <th><h3>{{Now_Data["ScoreB"]}}</h3></th>
        </tr>
    </table>
    <h1>Now score</h1>
    <table border = 1>
        <tr>
            <th><h2>RFID</h2></th>
            <th><h2>score</h2></th>
        </tr>
        <tr>
            <th><h3>0000</h3></th>
            <th><h3>{{Now_score["0000"]}}</h3></th>
        </tr>
        <tr>
            <th><h3>1111</h3></th>
            <th><h3>{{Now_score["1111"]}}</h3></th>
        </tr>
        <tr>
            <th><h3>2222</h3></th>
            <th><h3>{{Now_score["2222"]}}</h3></th>
        </tr>
        <tr>
            <th><h3>3333</h3></th>
            <th><h3>{{Now_score["3333"]}}</h3></th>
        </tr>
    </table>

</body>